
body {
    text-align: center;
    
}

.red {
        color: red;
}

.orange {
        color: orange;
}

.yellow {
        color: rgb(201, 188, 11);
}

.green {
        color: darkseagreen;
}

#legend {
        border-style: solid;
        width: 400px;
        margin: auto;
        
}

#v {
     border-style: hidden;   
}

.today, .tomorow,.daytomorow,.todayt, .tomorowt,.daytomorowt {
       
    width: 30%;
    margin: auto;
}