<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코로나 현황 </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <style>
        div {
            text-align: center;
        }
        div > h1 {
            text-align: center;
        }
        #chartBox {
            width: 80%;
            margin: auto;
        }

    </style>
</head>
<body>
    <!-- <h1>코로나 지역 현황</h1>

    {% for d in data %} "{{d.gubun}}", {% endfor %}
   
    <hr>
    사망자(누적)
    {% for d in data %} {{d.deathCnt}}, {% endfor %}
    <hr>
    전일대비 증감 수 - 확진자
    {% for d in data %}
    {{d.incDec}}
    {% endfor %}
    <hr>
    격리 해제 수
    {% for d in data %}
    {{d.isolClearCnt}}
    {% endfor %}
    <hr>
    만명당 발생률
    {% for d in data %}
    {{d.qurRate}},{{d.qurRate|float}}
    {% endfor %}
    <hr> -->

    <div id="chartBox" width="200">
        <h1>지역별 사망자 누적 수</h1>    
        <canvas id="deathCnt"></canvas>
        <hr>
        <h1>전일대비 증감 수 - 확진자</h1>    
        <canvas id="incDec"></canvas>
        <hr>
        <h1> 격리 해제 수</h1>    
        <canvas id="isolClearCnt"></canvas>
        <hr>
        <h1> 만명당 발생률</h1>    
        <canvas id="qurRate"></canvas>   

    </div>

    <script>
        //지역 표현 컬러
        colorlist = ["rgb(255, 99, 132)","rgb(0, 77, 235)","rgb(255, 200, 132)","rgb(77, 162, 150)",
        "rgb(210, 99, 132)","rgb(255, 162, 235)","rgb(255, 150, 132)","rgb(54, 162, 200)",
        "rgb(200, 99, 132)","rgb(200, 162, 235)","rgb(255, 200, 132)","rgb(54, 162, 150)",
        "rgb(150, 99, 132)","rgb(150, 162, 235)","rgb(255, 100, 132)","rgb(54, 162, 100)",
        "rgb(100, 99, 132)","rgb(100, 162, 235)","rgb(255, 50, 132)","rgb(54, 162, 50)",
        "rgb(50, 99, 132)","rgb(50, 162, 235)","rgb(255, 0, 132)","rgb(54, 162, 0)",
        ]    
        // 지역별 누적 사망자 수 그래프
        var ctx_death = document.getElementById('deathCnt').getContext('2d');
        
        var death_Chart = new Chart(ctx_death, {
            "type":"doughnut",
            "data":{
                labels:[{% for d in data %}  "{{d.gubun}}",{% endfor %}],
                datasets:[{
                    label:"지역별 사망자 누적수",
                    data:[ {% for d in data %} {{d.deathCnt}}, {% endfor %}],
                    backgroundColor:colorlist //["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205,86)"]
                }]
            }
        });

        // 전일대비 증감 수 - 확진자 그래프
        var ctx_incDec = document.getElementById('incDec').getContext('2d');

        var incDec_Chart = new Chart(ctx_incDec, {
            "type":"doughnut",
            "data":{
                labels:[{% for d in data %}  "{{d.gubun}}",{% endfor %}],
                datasets:[{
                    label:"전일대비 증감 수 - 확진자",
                    data:[ {% for d in data %} {{d.incDec}}, {% endfor %}],
                    backgroundColor:colorlist //["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205,86)"]
                }]
            }
        });


        // 격리 해제 수 그래프
        var ctx_isolClearCnt = document.getElementById('isolClearCnt').getContext('2d');

        var isolClearCnt_Chart = new Chart(ctx_isolClearCnt, {
            "type":"doughnut",
            "data":{
                labels:[{% for d in data %}  "{{d.gubun}}",{% endfor %}],
                datasets:[{
                    label:"격리 해제 수",
                    data:[ {% for d in data %} {{d.isolClearCnt}}, {% endfor %}],
                    backgroundColor:colorlist //["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205,86)"]
                }]
            }
        });

        // 만명당 발생률 그래프
        var ctx_qurRate = document.getElementById('qurRate').getContext('2d');

        var qurRate_Chart = new Chart(ctx_qurRate, {
            "type":"doughnut",
            "data":{
                labels:[{% for d in data %}  "{{d.gubun}}",{% endfor %}],
                datasets:[{
                    label:"만명당 발생률",
                    data:[ {% for d in data %} {{d.qurRate|float}}, {% endfor %}],
                    backgroundColor:colorlist //["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205,86)"]
                }]
            }
        });


        //확인용
        


    </script>



    
</body>
</html>